name: Build

on:
  pull_request:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      no-cache:
        description: 'disable caching'
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rhel: [9]

    steps:
      - name: Define the tag
        id: tag
        shell: bash
        run: |
          if [ -n "$GITHUB_HEAD_REF" ]; then
              echo tag=${GITHUB_HEAD_REF} | sed -E 's,/,-,g'
          else
              echo "tag=latest"
          fi >> ${GITHUB_OUTPUT}
      - uses: actions/checkout@v4

      - name: Build and push
        uses: lsst-dm/build-and-push@main
        with:
          push: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          platforms: linux/amd64,linux/arm64
          tag: ${{ matrix.rhel }}-${{ steps.tag.outputs.tag }}
          dockerfile: base-${{ matrix.rhel }}/Dockerfile
          no-cache: ${{ inputs.no-cache || 'false' }}
